.skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  @media (min-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
